<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{base.html :: head}">
    <title>Create task page</title>
</head>
<body>
<!-- компонент меню-->
<nav th:insert="~{base.html :: menu}">
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12">
            <h2>Create new task</h2>
            <form action="#" th:action="@{/task/add}" th:object="${task}" method="post" class="input-form">
                <div class="form-group">
                    <label for="type" class="label">Type:</label>
                    <select id="type" class="form-control" th:field="*{type}">
                        <option th:each="typeOpt : ${T(ru.nataly.tasktracker.infra.jpa.enums.TaskType).values()}"
                                th:value="${typeOpt}" th:text="${typeOpt}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description" class="label">Description:</label>
                    <input type="text" class="form-control" th:field="*{description}" id="description"
                           placeholder="description"/>
                    <!--                    <p class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>-->
                </div>
                <div class="form-group">
                    <label for="startDate" class="label">Start date:</label>
                    <input type="date" class="form-control" th:field="*{startDate}" id="startDate" placeholder="yyyy-mm-dd" />
                </div>
                <div class="form-group">
                    <label for="endDate" class="label">End date:</label>
                    <input type="date" class="form-control" th:field="*{endDate}" id="endDate" placeholder="yyyy-mm-dd" />
                </div>
                <input class="form-group" type="submit" value="Create"/>
            </form>
        </div>
    </div>
</div>

<footer th:insert="~{base.html :: footer}">
</footer>

<div th:insert="~{base.html :: script}"></div>
</body>
</html>